* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.buttons {
  margin: 10%;
  text-align: center;
}
.btn-hover, .swagger-ui .btn, .swagger-ui .btn.authorize svg {
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 5px;
  height: 55px;
  text-align: center;
  border: none;
  background-size: 300% 100%;
  border-radius: 5px;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:hover, .swagger-ui .btn:hover, .swagger-ui .btn.authorize svg:hover {
  background-position: 100% 0;
  moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.btn-hover:focus, .swagger-ui .btn:focus, .swagger-ui .btn.authorize svg:focus {
  outline: none;
}
.btn-hover.color-1, .swagger-ui .btn.color-1, .swagger-ui .btn, .swagger-ui .btn.authorize svg.btn, .swagger-ui .btn.authorize svg.color-1, .swagger-ui .btn.authorize svg, .swagger-ui .btn.btn-hover, .swagger-ui .btn.authorize svg.btn-hover {
  background-image: linear-gradient(to right, #25aae1, #40e495, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(49, 196, 190, 0.75);
}
.btn-hover.color-2, .swagger-ui .btn.color-2, .swagger-ui .btn.authorize svg.color-2 {
  background-image: linear-gradient(to right, #f5ce62, #e43603, #fa7199, #e85a19);
  box-shadow: 0 4px 15px 0 rgba(229, 66, 10, 0.75);
}
.btn-hover.color-3, .swagger-ui .btn.color-3, .swagger-ui .btn.authorize svg.color-3 {
  background-image: linear-gradient(to right, #667eea, #764ba2, #6B8DD6, #8E37D7);
  box-shadow: 0 4px 15px 0 rgba(116, 79, 168, 0.75);
}
.btn-hover.color-4, .swagger-ui .btn.color-4, .swagger-ui .btn.authorize svg.color-4 {
  background-image: linear-gradient(to right, #fc6076, #ff9a44, #ef9d43, #e75516);
  box-shadow: 0 4px 15px 0 rgba(252, 104, 110, 0.75);
}
.btn-hover.color-5, .swagger-ui .btn.color-5, .swagger-ui .btn.authorize svg.color-5 {
  background-image: linear-gradient(to right, #0ba360, #3cba92, #30dd8a, #2bb673);
  box-shadow: 0 4px 15px 0 rgba(23, 168, 108, 0.75);
}
.btn-hover.color-6, .swagger-ui .btn.color-6, .swagger-ui .btn.authorize svg.color-6 {
  background-image: linear-gradient(to right, #009245, #FCEE21, #00A8C5, #D9E021);
  box-shadow: 0 4px 15px 0 rgba(83, 176, 57, 0.75);
}
.btn-hover.color-7, .swagger-ui .btn.color-7, .swagger-ui .btn.authorize svg.color-7 {
  background-image: linear-gradient(to right, #6253e1, #852D91, #A3A1FF, #F24645);
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
}
.btn-hover.color-8, .swagger-ui .btn.color-8, .swagger-ui .btn.authorize svg.color-8 {
  background-image: linear-gradient(to right, #29323c, #485563, #2b5876, #4e4376);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}
.btn-hover.color-9, .swagger-ui .btn.color-9, .swagger-ui .btn.authorize svg.color-9 {
  background-image: linear-gradient(to right, #25aae1, #4481eb, #04befe, #3f86ed);
  box-shadow: 0 4px 15px 0 rgba(65, 132, 234, 0.75);
}
.btn-hover.color-10, .swagger-ui .btn.color-10, .swagger-ui .btn.authorize svg.color-10 {
  background-image: linear-gradient(to right, #ed6ea0, #ec8c69, #f7186a, #FBB03B);
  box-shadow: 0 4px 15px 0 rgba(236, 116, 149, 0.75);
}
.btn-hover.color-11, .swagger-ui .btn.color-11, .swagger-ui .btn.authorize svg.color-11 {
  background-image: linear-gradient(to right, #eb3941, #f15e64, #e14e53, #e2373f);
  box-shadow: 0 5px 15px rgba(242, 97, 103, 0.4);
}
.empty, .swagger-ui .btn {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.input-box {
  font-size: 16px;
  font-weight: 600;
  height: 55px;
  width: 250px;
}
.swagger-ui .scheme-container {
  background-image: linear-gradient(217deg, rgba(209, 41, 79, 0.8), rgba(255, 0, 0, 0) 70.71%), linear-gradient(127deg, rgba(19, 168, 217, 0.8), rgba(0, 255, 0, 0) 70.71%), linear-gradient(336deg, rgba(0, 0, 255, 0.8), rgba(0, 0, 255, 0) 70.71%);
}
.swagger-ui .wrapper {
  padding: 0 0px;
}
.swagger-ui .btn.authorize {
  border-color: #ffffff;
  color: #ffffff;
}
.swagger-ui .btn.authorize svg {
  /* fill: #ffffff */
}
.swagger-ui .topbar {
  display: none;
}
